<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>
    <style>

      #article {
        height: 100%;
        width: 30%;
        float: left;
        background-color: white;
        padding-left: 10px;
      }

      #map {
        height: 100%;
        width: 70%;
        float: right
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #floating-panel {
        position: absolute;
        top: 90px;
        left: 50%;
        z-index: 5;
        background: rgba(0,0,0,0);
        padding: 5px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      .ButtonState{display:none}
      .Button{padding:3px; margin:4px; background:#CCC; border:1px solid #333; border-radius: 10px; cursor:pointer;}
      .ButtonState:checked + .Button{background:#fff;}

    </style>
    <welcome>
      <div class="banner" style="padding-top: 5px">
        <!-- <h3>Welcome to</h3> -->
        <h2>Archaeology Biblio Map of Turkey</h2>
      </div>
    </welcome>
  </head>
  <body>
    <div id="floating-panel">
      <input onclick="searchByPoint();" type="radio" name="Button" class="ButtonState" id="Button1" value="1"/>
      <label class="Button" for="Button1">Search By Point</label>
      <input onclick="searchByRectangle();" type="radio" name="Button" class="ButtonState" id="Button2" value="2"/>
      <label class="Button" for="Button2">Search By Rectangle</label>
    </div>

    <div id="article">
      <h4>Search On Our Map</h4>
      <%= form_tag("/publication_map/search_by_point", method: "get") do %>
        <%= text_field_tag :lat, nil, :id=>"latitude", :placeholder=>"latitude"%>
        <%= text_field_tag :lng, nil, :id=>"longitude", :placeholder=>"longitude"%>
        <%= button_tag(type:"submit", class: "btn btn-success btn-sm", style: "margin-top: 5px") do %>
          Search A Point
        <% end %>
      <% end %>
      <br>
      <br>
      <%= form_tag("/publication_map/search_by_rectangle", method: "get") do %>
        <span class="label label-default">Point 1</span><br>
        <%= text_field_tag :lat1, nil, :id=>"latitude1", :placeholder=>"latitude"%>
        <%= text_field_tag :lng1, nil, :id=>"longitude1", :placeholder=>"longitude", :style=>"margin-bottom: 5px"%><br>
        <span class="label label-default">Point 2</span><br>
        <%= text_field_tag :lat2, nil, :id=>"latitude2", :placeholder=>"latitude"%>
        <%= text_field_tag :lng2, nil, :id=>"longitude2", :placeholder=>"longitude"%>
        <%= button_tag(type:"submit", class: "btn btn-success btn-sm", style: "margin-top: 5px") do %>
          Search An Area
        <% end %>
      <% end %>
      <br>
      <br>
      <%= form_tag "/search_home", method: "get" , :class => 'form-inline' do %>
        <%= text_field_tag :q, nil, class: 'form-control', :placeholder=>"search keyword"%>
        </br>
        <%= button_tag(id: "search_btn", type: "submit", name: "search", class: "btn btn-success btn-sm form-control", style: "margin-top: 5px") do %>
          Search an article
        <% end %>
      </br>
      <div>
          <%= submit_tag "View All Publications", name: "view_all", class: 'btn btn-success btn-sm', style: "margin-top: 10px"%>
      </div>
      <% end %>
    </div>
      
    <div id="map"></div>
    
    <script>
      // In the following example, markers appear when the user clicks on the map.
      // Each marker is labeled with a single alphabetical character.
      // The markers are stored in an array.
      // The user can then click an option to hide, show or delete the markers.
      var map;
      var markers;
      var rectangle;
      var infoWindow;

      function initMap() {
        markers = [];
        document.getElementById("latitude").value = "";
        document.getElementById("longitude").value = "";
        document.getElementById("latitude1").value = "";
        document.getElementById("longitude1").value = "";
        document.getElementById("latitude2").value = "";
        document.getElementById("longitude2").value = "";

        var turkey = { lat: 38.9637, lng: 35.2433 };
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: turkey,
          mapTypeId: 'terrain'
        });
      }

      function searchByPoint() {
        initMap();
        
        map.addListener('click', function(event) {
          clearMarkers();
          var marker = new google.maps.Marker({
            position: event.latLng,
            map: map
          });
          markers.push(marker);
          document.getElementById("latitude").value = event.latLng.lat();
          document.getElementById("longitude").value = event.latLng.lng();
        });
      }

      function searchByRectangle() {
        initMap();

        google.maps.event.addListenerOnce(map, 'click', function(event) {
          var bounds = {
            north: event.latLng.lat() + 0.5,
            south: event.latLng.lat() - 0.5,
            east: event.latLng.lng() + 0.5,
            west: event.latLng.lng() - 0.5
          };

          // Define the rectangle and set its editable property to true.
          rectangle = new google.maps.Rectangle({
            bounds: bounds,
            editable: true,
            draggable: true
          });

          rectangle.setMap(map);
          document.getElementById("latitude1").value = rectangle.getBounds().getNorthEast().lat();
          document.getElementById("longitude1").value = rectangle.getBounds().getNorthEast().lng();
          document.getElementById("latitude2").value = rectangle.getBounds().getSouthWest().lat();
          document.getElementById("longitude2").value = rectangle.getBounds().getSouthWest().lng();

          // Add an event listener on the rectangle.
          rectangle.addListener('bounds_changed', showNewRect);

          // Define an info window on the map.
          infoWindow = new google.maps.InfoWindow();

        });
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
      }

      // Show rectangle on the map
      function showNewRect(event) {
        var ne = rectangle.getBounds().getNorthEast();
        var sw = rectangle.getBounds().getSouthWest();

        var contentString = '<b>Rectangle moved.</b><br>' +
            'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
            'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

        document.getElementById("latitude1").value = ne.lat();
        document.getElementById("longitude1").value = ne.lng();
        document.getElementById("latitude2").value = sw.lat();
        document.getElementById("longitude2").value = sw.lng();

        // Set the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(ne);
        infoWindow.open(map);
      }

    </script>
    <script async defer 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ91eX38i3gEsID0-4_OHWm-RKZeWsWjM&callback=initMap">
    </script>
  </body>
</html>