<welcome>
  <div class="banner">
    <h3>Welcome to</h3>
    <h1>Archaeology Biblio Map of Turkey</h1>
  </div>

  <div class = "search-body">
    <form role="form">
    	<%= form_tag "/search", method: "get" , :class => 'form-inline' do %>
        <fieldset>
          <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
            	<%= text_field_tag :q, nil, class: 'form-control', :placeholder=>"input your search keyword here"%>
              <div class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default btn-sm btn-primary form-control") do %>
                <i class="glyphicon glyphicon-search"></i>
                <% end %>
              </div>
            </div>
          </div>
          <br><br>
          <div class = "form-group">
            <div class="col-md-6 col-md-offset-3">
            	<%= submit_tag "Publications Map", name: "view_map", class: 'btn btn-default btn-sm btn-info', style: "margin-right: 20px"%>
            	<%= submit_tag "View All Publications", name: "view_all", class: 'btn btn-default btn-sm btn-info'%>
            </div>
          </div>
        </fieldset>
    	<% end %>
    </form>
  </div>

</welcome>
